<html>
<%-include('partials/head.html');%>
	<body>
		<header>
			<%-include('partials/navegacion.html');%>
		</header>
		<div style="width: 50%; margin-top: 10px; margin-left: 10px;">
			<h4>Contactos</h4>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Domicilio</th>
						<th>Telefono</th>
					</tr>
				</thead>
				<% if (contactos) { %>
					<tbody>
						<% for(var i=0; i < contactos.length; i++ ) { %>
							<tr>
								<td>
									<%= contactos[i].idContactos %>
								</td>
								<td>
									<%= contactos[i].nombre %>
								</td>
								<td>
									<%= contactos[i].domicilio %>
								</td>
								<td>
									<%= contactos[i].telefono %>
								</td>
							</tr>
							<% } %>
					</tbody>
					<% } %>
	
			</table>
			<form action="/contactos" method="post" style="float: left;">
				<button type="submit" class="btn btn-outline-dark">Mostrar</button>
			</form>
			<form action="/contactos" method="get">
				<button action="/contactos" class="btn btn-outline-dark" style="margin-left: 10px;">Limpiar</button>
			</form>
			<h4>Modificar Contacto</h4>
			<form action="/contactos/id" method="get">
				<div class="mb-3">
					<label for="idContactos" class="form-label">Contacto ID:</label>
					<input type="text" id="idContactos" name="idContactos" class="form-control">
					<button type="submit" class="btn btn-outline-dark" style="margin-top: 10px;">Buscar</button>
				</div>
			</form>
			<% if ( contacto ) { %>
			<form action="/contactos/id" method="post">
				<div class="mb-3">
					<input type="hidden" name="idContactos" id="idContactos" value="<%=contacto.idContactos%>">
					<label for="nombre" class="form-label">Nombre:</label>
					<input type="text" id="nombre" name="nombre" class="form-control" value="<%=contacto.nombre%>">
					<label for="domicilio" class="form-label">Domicilio:</label>
					<input type="text" id="domicilio" name="domicilio" class="form-control" value="<%=contacto.domicilio%>">
					<label for="telefono" class="form-label">Telefono:</label>
					<input type="text" id="telefono" name="telefono" class="form-control" value="<%=contacto.telefono%>">
					<button type="submit" class="btn btn-outline-dark" style="margin-top: 10px;">Guardar</button>
				</div>
			</form>
			<form action="/contactos/id/borrar" method="post">
				<input type="hidden" name="idContactos" id="idContactos" value="<%=contacto.idContactos%>">
				<button type="submit" class="btn btn-outline-dark" >Eliminar</button>
			</form>
			<% } %>
			<h4>Agregar</h4>
			<form action="/contactos/nuevo" method="post">
				<div>
					<div>
						<label for="nombre" class="form-label">Nombre</label>
						<input type="text" name="nombre" id="nombre" class="form-control">
					</div>
					<div>
						<label for="domicilio" class="form-label">Domicilio</label>
						<input type="text" name="domicilio" id="domicilio" class="form-control">
					</div>
					<div>
						<label for="telefono" class="form-label">Telefono</label>
						<input type="text" name="telefono" id="telefono" class="form-control">
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-outline-dark" style="margin-top: 10px;">Guardar</button>
				</div>
			</form>
		</div>
	</body>
	<%-include('partials/footer.html');%>
</html>